@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
   padding: 0;
   margin: 0;
   text-decoration: none;
}

:root {
   --primary: hsl(320, 100%, 54%);
   --primary-alt: hsl(320, 100%, 50%);
   --primary-light: hsl(320, 80%, 70%);

   --dark: hsl(0, 0%, 9%);
   --dark-alt: hsl(0, 0%, 6%);
}
html {
   scroll-behavior: smooth;
   font-family: "Raleway", sans-serif;
   background-color: var(--dark);
}

/* text */
p {
   color: rgb(141, 141, 141);
}

/* button */
.btn {
   padding: 0.7rem 1.7rem;
   outline: none;
   border: none;
   cursor: pointer;
   border-radius: 0.4rem;
   letter-spacing: 0.3px;
   font-weight: 600;
   font-size: 14px;
   background: none;
   display: block;
}

.btn__primary {
   color: white;
   background-color: var(--primary);
   border: solid 1px var(--primary);
}

.btn__primary:focus,
.btn__primary:hover {
   background-color: var(--primary-alt);
   border-color: var(--primary-alt);
}

.btn__outline-primary {
   color: var(--primary);
   background: none;
   border: solid 1px var(--primary);
}

.btn__outline-primary:focus,
.btn__outline-primary:hover {
   background-color: var(--primary-alt);
   color: white;
}

/* form */

input:disabled {
   background-color: rgb(18, 18, 18);
   cursor: unset;
}

.form__group {
   display: flex;
   align-items: center;
}

.form__group .form__input {
   border-radius: 0 0.4rem 0.4rem 0;
}

.form__password .form__input {
   border-radius: 0;
}

.form__block {
   width: 100%;
}

.form__input {
   background-color: rgb(40, 40, 40);
   outline: none;
   border: none;
   padding: 1rem 0;
   color: white;
   font-size: 14px;
   padding-right: 1.4rem;
   letter-spacing: 0.3px;
}

.container {
   width: 100%;
   height: 100%;
   background-color: var(--dark);
}

.form__icon {
   background-color: rgb(40, 40, 40);
   border-radius: 0.4rem 0 0 0.4rem;
   padding: 0.78rem 1rem;
   color: rgb(180, 180, 180);
}

.form__icon-password {
   border-radius: 0 0.4rem 0.4rem 0;
   cursor: pointer;
}
